html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.leftButton {
    width: 4vh;
    height: 4vh;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 2vh;
    background-color: transparent;
    border: none;
}

#closeBuilder {
    position: absolute;
    top: 2vh;
    background-image: url("/3DDiceRoller/resources/closeBtn.png");
}

#roll {
    position: absolute;
    top: 2vh;
    background-image: url("/3DDiceRoller/resources/rollBtn.png");
}

#sweep {
    position: absolute;
    top: 8vh;
    background-image: url("/3DDiceRoller/resources/sweepBtn.png");
}

#reset {
    position: absolute;
    top: 14vh;
    background-image: url("/3DDiceRoller/resources/clearBtn.png");
}

#menu {
    position: absolute;
    right: 2vh;
    top: 2vh;
    z-index: 5;
    width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    background-image: url("/3DDiceRoller/resources/menuBtn.png");
}

#numDisplay {
    height: 5vh;
    width: 80vw;
    left: 10vw;
    top: 2vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addDiceSetBtn {
    border-radius: 34px;
    border: none;
    background-color: #2196F3;
    color: white;
    padding: 8px;
    margin-top: 10px;
}

#menuDiv {
    position: absolute;
    right: -2vh;
    top: 0;
    height: 100vh;
    width: 0;
    background: black;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2vh;
    padding-left: 2vh;
    overflow-y: scroll;
    
    select {
        border-radius: 34px;
        border: none;
        background-color: white;
        color: black;
        padding: 8px;
    }
    
    input {
        opacity: 0;
        height: 0;
        width: 0;
    }
    
    label p {
        margin-top: 30px;
    }
    
    .slider {
    background-color: #ccc;
    height: 34px;
    width: 60px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    left: 2vh;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
}

#menuCloseBtn {
    width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    background-image: url("/3DDiceRoller/resources/closeBtn.png");
    filter: invert(100%);
    position: relative;
    left: 0;
    top: 0;
}

.diceSelector {
    background-image: url("/3DDiceRoller/resources/dice_roller_numbers_ui-01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 12vh;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 4.5vh;
        position: relative;
        top: 20%;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    }
    
    h2 {
        font-size: 2.5vh;
        position: relative;
        bottom: 15%;
        -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    }
}

#bottomRow {
    /*background: red;*/
    position: absolute;
    bottom: 0;
    left: 5vw;
    z-index 6;
    height: 14vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#diceBuilderContainer {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: none;
}
